/* Margin reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 5px;
}

.image-header{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
}

main{
    margin: 5px;
}

#logo{
    width: 300px;
    padding-top: 100px;
    padding-left: 5px;
}

header{
    margin: 15px 5px;
}

.lightblue{
    color: #2bade6  ;
}

.grey{
    color: grey;
}

.smaller-text{
    font-size: 13px;
}

ul{
    padding: 15px
}

/* Table Style */
table{
    width: 100%;
    border-spacing: 0;
}

th{
    background-color: #20A9E5;
    color: white;
}

th, td {
    text-align: left;
}

.long{
    width: 50%;
}

tr:nth-child(odd){
    background-color: #B1E5F2;
}
/* /Table Style */

.bold{
    font-weight: bold;
}

.link-image{
    position: relative;
    width: 270px;
    height: 200px;
    margin: 10px 0;
}

.image-one{
    background-image: url('../img/monitor.jpg');
}

.image-two{
    background-image: url('../img/graph.jpg');
}

.link-image h3 {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}