/* Margin reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 5px;
}

.image-header{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
}

main{
    margin: 5px;
}

#logo{
    width: 300px;
    padding-top: 100px;
    padding-left: 5px;
}

header{
    margin: 15px 5px;
}

.lightblue{
    color: #2bade6  ;
}

.written-by{
    color: grey;
}

.smaller-text{
    font-size: 13px;
}
