/* Margin reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
}

#logo{
    width: 300px;
    position: absolute;
    top: 90px;
    left: 5px;
}

main{
    position: absolute;
    top: 280px;
    left: 5px;
}

.title{
    position: absolute;
    top: 190px;
    left: 5px;
}

.lightblue{
    color: #2bade6  ;
}

.written-by{
    color: grey;
}

.smaller-text{
    font-size: 13px;
}

